{% extends 'base.html' %}


{% block content %}

    <div class=container>
        <table class="table table-head">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>                
                    <th>Data Criação</th>
                    <th>Opções</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.cpf }}</td>
                        <td>{{ cliente.data_criacao|date:"d/m/y" }}</td>

                        <td><a href="#" class="btn btn-warning">Editar</a></td>
                        <td><a href="#" class="btn btn-danger">Excluir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination" id="page-cliente">
            <span class="step-links">
                {% if clientes.has_previous %}
                    <a href="?page=1">&laquo; Primeiro</a>
                    <a href="?page={{ clientes.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current">
                    Page {{ clientes.number }} of {{ clientes.paginator.num_pages }}
                </span>

                {% if clientes.has_next %}
                    <a href="?page={{ clientes.next_page_number }}">Próximo</a>
                    <a href="?page={{ clientes.paginator.num_pages }}">Último &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock content %}